*{
    margin: 0;
    padding: 0;
}
navbar {
    width: 100%;
    height: 70px;
    padding-top: 40px;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E4E4E3;
    font-size: 18px;
    font-family: Gilroy;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.logo {
    width: 180px;
    height: 25px;
}

body{
    background-color: #070716;
}
.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: #E4E4E3;
    text-decoration: none;
    padding: 10px;
    transition: all 0.07s ease-in-out;
}

.application {
    background-color: #070716;
    border-radius: 10px;
    border: 1px solid #E4E4E3;
    text-decoration: none;
    color: #E4E4E3;
    transition: all 0.07s ease-in-out;
    padding: 10px;
}

.application:hover {
    background-color: #F7D552;
    color: #070716;
    border: 0px solid #E4E4E3;
}

.navbar-menu li a:hover {
    color: #F7D552;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.section1 {
    display: flex;
    flex-direction: column;
    color: #E4E4E3;
    font-family: Gilroy;
    font-weight: normal;
    font-size: 180px;
    align-content: start;
    flex-wrap: nowrap;
    margin: 0;
    padding-top: 40px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}

.psevdo {
    display: flex;
    flex-wrap: wrap;
    font-family: Gilroy;
    font-size: 18px;
}

.app {
    font-family: Gilroy;
    font-size: 25px;
    color: #F7D552;
    text-decoration: underline;
}

.app:hover {
    color: #7F75F6;
}

.mark {
    line-height: 2.2;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
}

.row2_light {
    color: #E4E4E3;
    font-family: Gilroy;
    font-size: 50px;
}

.row2_light2 {
    color: #E4E4E3;
    font-family: Gilroy;
    line-height: 2.2;
}

.row2_dark {
    color: #070716;
}

.section3 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rectangle {
    display: flex;
    background-color: #1A1A28;
    border-radius: 25px;
    width: 1100px;
    height: 120px;
    margin-top: 30px;
    align-items: center;
}

.row3 {
    display: flex;
    flex-direction: row;
}

.section5 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block1 {
    width: 700px;
}

.row4 {
    display:flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    align-items: center;
}

.yellow_text1 {
    color: #F7D552;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 16px;
    width: 220px;
    line-height: 1.6;
}

.purple_text1 {
    color: #7F75F6;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 16px;
    width: 240px;
    line-height: 1.6;
}

.yellow_text2 {
    color: #F7D552;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 16px;
    width: 400px;
    line-height: 1.6;
}

.purple_text2 {
    color: #7F75F6;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 16px;
    width: 400px;
    line-height: 1.6;
}

.rough {
    width: 100px;
    height: 50px;
}

.img1 {
    display: flex;
    width: 600px;
    height: 400px;
}

.purplespan {
    color: #7F75F6;
    font-weight: bold;
}

.yellowspan {
    color: #F7D552;
    font-weight: bold;
}

.decide {
    padding-top: 50px;
}

.section6 {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 120px;
    padding-top: 70px;
    justify-content: space-between;
}

.word {
    padding-left: 40px;
    padding-top: 70px;
}

.mini_section {
    display: flex;
    flex-direction: column;
}

.numbers {
    width: 150px;
    height: 130px;
}

.stl1 {
    width: 200px;
    height: 100px;
}

.stl2 {
    width: 270px;
    height: 160px;
}

@media only screen and (max-width: 812px) {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 45px;

    }
}